<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         syntaxCheck="false">
  <testsuites>
    <testsuite suffix=".php">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory>src/protos</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
